{% load  static %}
<html lang="en">
  <head>
  	<title>home instructor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% comment %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'js/popper.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'ajax-js.js' %}"></script>
    <style>
      .scroll ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
      }
      
      .scroll ::-webkit-scrollbar-track{
        background-color: #6c757d;
      }
      .scroll ::-webkit-scrollbar-thumb{
        background-color: #6c757d;
      }
      .scroll ::-webkit-scrollbar-thumb:hover{
        background-color: #6c757d;
      }
     </style>
  </head>
  <body class="scroll">
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				
	  		<h1><a href="#"  class=" btn btn-dark logo">Project Name</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'student_home' %}"> Homepage</a>
          </li>
          
         
         {% for StudentSchedule in StudentSchedule %}
         
        
           <li >
            
           <a href="{% url 'Schedule' StudentSchedule.student_schedule_name %}"> {{StudentSchedule.student_schedule_name}}</a>
   
             </li>
         {% endfor %}
           

          {% comment %}
          <li>
            <a href="#"> Courses</a>
          </li>
          {% endcomment %}
          <li>
            <a href="#"> Settings</a>
          </li>
         
          <li>
            <a href="#"> Information</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class=" ">
        <nav>
        <header>
          
          <center>
          <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                
      
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                  <li>
                    <a href="#" class="nav-link text-secondary">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      Orders
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      Products
                    </a>
                  </li>
                  
                  
                </ul>
                <div class=" text-end" >
                <ul class="nav " >
                  <li class="nav-item"><a href="{% url 'logout-view' %}" class="nav-link link-dark px-2">Log Out</a></li>
                  
                </ul>
              </div>
              </div>
              
            </div>
          </div>
        </center>
          <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
              
      
              <div class="text-end">
                <center><b>welcome {{user.instructor_type}} : {{user.first_name }} {{ user.last_name}} </b></center>
              </div>
              
            </div>
          </div>
        </header>
      </nav>
        <div id="content"  class=" d-flex justify-content-center py-4 " >
          
          <div id="requestcompanymass">
            
          </div>
          <div id="requestcompany"  style="display: inline;">

           
          </div>
          {% comment %}
          <video autoplay controls>
            
            {% for Material_video  in Material_video  %}
            <source src="{{Material_video.lecture_video}}" >
            {% endfor %}
              
            
          </video>
          {% endcomment %}  
          
         <br><br>
        
        
          
        </div>

      </div>
      
		</div>
    {% comment %}
    {% for Material in Material_video %}
    <video  src="{{ Material.lecture_video_link }}" width="200px" height="300px" >video</video ><br>
    <a  href="{{ Material.lecture_video_link}}" download="{{ Material.lecture_video_link.url }}" >video</a ><br>
    {% endfor %}
    {% endcomment %}
    

<script>
function schedule(data) {  
  if (data==null){
    $.ajax({
    url:window.location.origin+ "/instructor/Schedule",

    success:function(req){
      $("#requestcompany").html(req)
    }
    
    });
  } else if (data=="data"){
    var d={
    "get":"submit_schedule",
    "Schedule_Name":$("#Schedule_Name").val(),
    "instructor_schedule_name":$("#instructor_schedule_name").val(),
    "student_schedule_name":$("#student_schedule_name").val(),
    "course_name":$("#course_name").val(),
    "quiz_name":$("#quiz_name").val(),
    "task_name":$("#task_name").val(),
    "material_name":$("#material_name").val(),
    "post_title":$("#post_title").val(),
    }
    $.ajax({
    url:window.location.origin+ "/instructor/Schedule",
    data:d,
    dataType:"json",
    success:function(req){
      $("#requestcompany").html(req)
    }
    
    });
  }
 
}

</script>
  </body>
</html>